

@import "player-card";
@import "challenges-card";

body {
	color:white;
	background-color:#8dc66f;
	font-family: 'VT323';
}



.card {

	width:400px;
	background-color:white;
	color:black;
	padding:15px;

}



.container {
	padding:15px;
	height:100vh;

}






